@import 'blocks/header.scss';
$main-color: #00ffcc;
body {
  color: $main-color;
}
div {
  color: red;
  h2 {
    color: green;
  }
}
.contact-us {
    color: green;
    &__title {
      color: red;
    }
}
div {
  width: 100vw - 100px;
}
.title {
  font-size: 30px;
  color: red;
}
.subtitle {
  @extend .title;
  color: green;
}
