<!doctype html>
    html(lang='ru')
        head
            meta(charset='utf-8')
            meta(name='viewport' content='width=device-width, initial-scale=1')
            title Startup
            link(href='styles/main.css', rel='stylesheet')
            link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap' rel='stylesheet')
        body
            .header
                .container
                    .container.header_fixed
                        .header__logo Startup
                        .header__menu
                            a(href='#') Home
                            a(href='#') Services
                            a(href='#') About
                            a(href='#') Works
                            a(href='#') Blog
                            a(href='#') Clients
                            a(href='#') Contact
                    .container.header__text
                        .header__title Welcome to startup
                        .header__subtitle Your Favourite Creative Agency Template
                        a(class='button_link', href='#') Get Started
            .services
                .container
                    .services__title Services
                    .services__subtitle We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
                    .services__items
                        .services__item
                            a(href='#')
                                .items__block
                                    img(src='../img/services-icon_chart.svg' alt='icon-chart')
                        .services__item
                            a(href='#')
                                .items__block
                                    img(src='../img/services-icon_chart.svg' alt='icon-chart')

            .about-us
            .works
            .request
            .block-posts
            .clients
            .footer

